{% load bootstrap4 %}
Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'volunteerapp:password_reset_confirm' uidb64=uid token=token %}

<div class="container-fluid box-2">
    <h2>Reset Your Password</h2>
    <!--Content here!-->
    <p>Please enter new password for your account. We <strong>strongly</strong>
      recommend you create an unique password, one that is not used
      for any other accounts.
      Note: You can't use any previous passwords!
    </p>
  </div>
  <div class="card text-center box-1">
    <div class="card-header">
      <h3>Sign In!</h3>
        <h5> The One Stop Shop for Volunteers!</h5>
    </div>
  <div class="card-body">
    <form method="post" action="">
    {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col" style="margin:1em;">
  {% bootstrap_form form %}
  </div>
  </div>
